{% extends "base_pdf.html" %}
{% block title %}Employee Demographics - Age{% endblock %}


{% block content %}


  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
     <h1 class="h3 mb-0 text-gray-800">Employee Demographics - Age</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col">
        <div class="card shadow mb-4">
          
          <table border="1" style="border-collapse: collapse;">
            <thead>
              <tr>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Age</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Male</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Female</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Grand Total</th>
              </tr>
            </thead>
            <tbody>
              {% for row in data %}
              <tr>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.age }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.male }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.female }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.total }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>          
          
        </div>
      </div>
    </div>

    



















  </div>



{% endblock %}

