{% extends "base_pdf.html" %}
{% block title %}Top Products{% endblock %}


{% block content %}


  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
     <h1 class="h3 mb-0 text-gray-800">Top Products</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col">
        <div class="card shadow mb-4">
          
          <table border="1">
            <thead>
              <tr>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Product Variation</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Product</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Purchase Requested</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Purchase Received</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Sale Invoice</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Official Receipt</th>
              </tr>
            </thead>
            <tbody>
            {% for row in data %}
              <tr>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.name }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.product_name }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.purchase_requested }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.purchase_received }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.sale_invoice }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.official_receipt }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>        
          
        </div>
      </div>
    </div>

    



















  </div>



{% endblock %}

