{% extends "base_pdf.html" %}
{% block title %}Sales Breakdown by Category{% endblock %}


{% block content %}


  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
     <h1 class="h3 mb-0 text-gray-800">Sales Breakdown by Category</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col">
        <div class="card shadow mb-4">
          
          <table border="1">
            <thead>
              <tr>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Product Variation</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Retail</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Patient</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Wholesale</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Government</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Corporate</th>
                <th style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">Grand Total</th>
              </tr>
            </thead>
            <tbody>
              {% for row in data %}
              <tr>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.product_variation__name }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.retail }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.patient }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.wholesale }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.government }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.corporate }}</td>
                <td style="text-align: center; vertical-align: middle; line-height: 15px; padding-top: 5px;">{{ row.grand_total }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>       
          
        </div>
      </div>
    </div>

    



















  </div>



{% endblock %}

