
/* Apply font globally */
body {
    font-family: 'Inter', sans-serif;  /* Change to your preferred font */
}

/* Override Bootstrap elements */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}


/* --------------------------------------------- */
/*
124a7e-165b9c
bd1e0d-d62815
*/


/* .psys .bg-primary {
    background-color: #124a7e !important;
}

.psys .text-primary {
    color: #124a7e !important;
}

.psys .btn-primary {
    background-color: #124a7e !important;
}
.psys .btn-primary:hover {
    background-color: #165b9c !important;
}

.psys .pagination .dt-paging-button.active button {
    background-color: #124a7e !important;
} */

.psys .navbar {
    border-top: 7px solid #124a7e !important;
}

.psys .navbar-brand:hover {
    color: #f7f019;
}

.psys .btn-primary:hover {
    color: #f7f019;
}
.psys .btn-secondary:hover {
    background-image: linear-gradient(white,#fff 6%,#dddddd);
}

.psys .dt-container a {
    color: #124a7e;
}

/* --------------------------------------------- */


.navbar-brand {
    font-size: 30px;
}


.dropdown-toggle-no-arrow::after {
    display: none;
}

.navbar .img-profile {
    width: 1.5rem;
    height: 1.5rem;
}

table.dataTable th.dt-type-date, table.dataTable td.dt-type-date {
    text-align: left;
}

.btn-controls {
    padding: 3px;
    margin: 0 0 25px 0;
}

#accordionDatatableFilter div[data-bs-toggle="collapse"], #accordionHeadcountTables div[data-bs-toggle="collapse"] {
    cursor: pointer;
    padding: 3px;
}

#accordionDatatableFilter .accordion-button {
    background: ghostwhite;
}

#accordionDatatableFilter .accordion-button:not(.collapsed) {
    background: lavender;
}

#accordionDatatableFilter .card-body {
    padding: 7px;
}


.center-p p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}